<h2>De FFPI</h2>
<p>
Voor een uitgebreide beschrijving en verantwoording van de <em >Five Factor
Personality Inventory</em>, zie Henderiks, 1997; Hendriks, Hofstee &amp; De Raad
(1999a, 1999b, 2011).
<p>
De FFPI onderscheidt zich van andere persoonlijkheidsvragenlijsten op een
aantal punten:
<p>
<strong >a. Dekking</strong> van het domein van persoonlijkheidseigenschappen:
voor zijn dissertatie verzamelde en analyseerde Brokken (1978) ruim 1200
eigenschapsadjectieven, van Aalglad tot Zwijgzaam. Uitgangspunt was de
&#x2018;lexicale&#x2019; hypothese, die stelt dat de
taalgemeenschap woorden vindt voor alle eigenschappen die van belang zijn. Op
de achtergrond staat de overweging dat de persoonlijkheidspsychologie is
aangewezen op de menselijke beoordelaar: objectieve
&#x2018;meting&#x2019; van eigenschappen is een
drogbeeld.
<p>
<strong >b. Concretisering:</strong> in het kader van zijn dissertatie-onderzoek over
pragmatische aspecten van alledaagse persoonlijkheidstaal merkte De Raad
(1985) op dat eigenschapsadjectieven als zodanig nauwelijks voorkomen in het
dagelijks spraakgebruik. Bijgevolg werden later voor de constructie van de
FFPI (Hendriks, 1997) clusters van adjectieven
&#x2018;vertaald&#x2019; in een grote verzameling van
korte, concrete, gedragsbeschrijvende zinnen.
<p>
<strong >c. Intersubjectiviteit:</strong> Hofstee (1994) levert een uitvoerige argumentatie
voor meervoudige beoordeling in de persoonlijkheidsdiagnostiek, en tegen
(louter) zelfbeoordelingen. Een centraal argument is dat beoordelaars
onderling onvoldoende overeenstemmen, zodat anderen die de persoon goed kennen
nodig zijn om voldoende betrouwbaarheid te bereiken. De FFPI belichaamt dat
principe doordat de vragen zijn gesteld in de derde persoon enkelvoud
(&#x2018;iemand die...&#x2019;). Een tweede centraal
argument voor het inschakelen van anderen bij de beoordeling is dat iemands
persoonlijkheid een factor is in diens omgang met de naaste sociale omgeving.
<p>
<strong >d. Effici&euml;ntie:</strong> terwijl in traditionele vragenlijsten per eigenschap 10
&agrave; 20 vragen nodig zijn voor een intern consistente score, voldoet de FFPI aan
die eis met nauwelijks meer dan twee vragen per eigenschap. Effici&euml;ntie wordt
in eerste instantie bereikt door scoring op basis van principale componenten,
waardoor iedere vraag (meer of minder) meetelt voor iedere eigenschapsschaal;
in tweede instantie door toepassing van het Abridged Big Five Circumplex
(Hofstee, De Raad, &amp; Goldberg, 1992) netwerkmodel, dat eigenschappen
beschrijft als combinaties van elkaar (in plaats van als specificaties van
algemenere eigenschappen).
<p>
<strong >e. Bipolariteit:</strong> eigenschappen komen in paren van tegengestelden:
spraakzaam-zwijgzaam, betrouwbaar-onbetrouwbaar. De schaal waarop ze staan
is dus bipolair, met een natuurlijk nulpunt waarop de eigenschap overgaat in
zijn tegengestelde. Rapportage op de gebruikelijke relatieve schaal, met als
nulpunt de gemiddelde score, wekt misverstanden aangezien dat gemiddelde aan
de sociaal wenselijke kant van het nulpunt pleegt te liggen: bij een relatieve
schaal krijgt iemand met een positieve score tussen het gemiddelde en het
middelpunt als uitslag een negatieve score. De FFPI rapporteert in termen van
afwijkingen van het nulpunt (zie Hofstee &amp; Hendriks, 1997)
<p>
De FFPI-III verschilt alleen op ondergeschikte details van de eerdere versies;
het is echter een publiek instrument. Met die popularisering wordt tot
uitdrukking gebracht dat dit soort psychologie primair in dienst staat van de
persoon zelf. Gebruik in andermans opdracht, voor het nemen van beslissingen
over de persoon, leidt tot strategische beantwoording (faking,
malingering). De open toegankelijkheid neemt niet weg dat voor optimaal
gebruik een professionele context nodig is, zoals bij coaching, psychologische
consultatie en dergelijke.
<p>
Verwijzingen:
<p>
<ul>
    <li> Brokken, F.B. (1978). <em >The language of personality</em>. Academisch
proefschrift, Rijksuniversiteit Groningen.
<p>
<li> De Raaad, B. (1985). <em >Person-talk in everyday life: Pragmatics of
utterances about personality</em>. Academisch proefschrift, Rijksuniversiteit
Groningen.
<p>
<li> Hendriks, A.A.J. (1997). <em >The construction of the Five-Factor
Personality Inventory</em>. Academisch proefschrift, Rijksuniversiteit Groningen.
<p>
<li> Hendriks, A.A.J., Hofstee, W.K.B., &amp; De Raad, B. (1999a). The
Five-Factor Personality Inventory (FFPI). <em >Personality and Individual
Differences, 27</em>, 307-325.
<p>
<li> Hendriks, A.A.J., Hofstee, W.K.B., &amp; De Raad,
B. (1999b). <em >Handleiding bij de Five-Factor Personality Inventory
(FFPI)</em>. Lisse: Swets.
<p>
<li> Hendriks, A.A.J., Hofstee, W.K.B., &amp; De Raad,
B. (2011). <em >Handleiding bij de Five-Factor Personality Inventory II
(FFPI-II)</em>. Houten, Bohn Stafleu van Loghum.
<p>
<li> Hofstee, W.K.B. (1994). Who should own the definition of personality?
<em >European Journal of Personality, 8</em>, 149-162.
<p>
<li> Hofstee, W.K.B., De Raad, B., &amp; Goldberg, L.R. (1992). Integration of
the Big Five and circumplex approaches to trait structure. <em >Journal of
Personality and Social Psychology, 63</em>, 146-163.
<p>
<li> Hofstee, W.K.B., &amp; Hendriks, A.A.J. (1998). The use of scores
anchored at the scale midpoint in reporting individuals' traits. <em >European
Journal of Personality, 12</em>, 219-228.
    </ul>
<p>
