.leftFloat
{
    margin-right: 1em; 
    float:left;
}
.rightsmall
{
    float:right;
    font-size: 60%;
}
.block {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.subhead {
    font-size: 60%;
}
.monospace
{
    font-family: Consolas, monospace; 
    font-size: 16px;
}
.container          /* all info in the body up to the footer */
{
    max-width: 780px; 
    clear: both;
    min-height: 85%;
    font-size: 16px;
    line-height: 1.5;

    padding-left:5px;
    padding-right:5px;

    margin-left: auto;
    margin-right: auto;
}
.darkrow        /* dark table rows */
{
    background: #dddddd;
}
.full               /* used to fillup the page (body) completely */
{
    max-width: 900px;       /* 780px; */
    max-height: 560px;
    font-family:  Arial, Verdana, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.lastline                                                                       
{                                                                               
    padding-left:5px;
    padding-right:5px;
    font-size: 90%;
    padding-left:10px;
    padding-right:10px;
}                                                                               
.lightgrey        /* dark table rows */
{
    background: #f0f0f0;
}
.right          /* adjust text to the right */
{
    text-align: right;
}
.margin         /* margin around table rows (spec. in td) */
{
    margin: 3px;
}
.top-menu-markup
{
    clear: both;
    background-color: #eeeeee;
    height: 2.5em;          /* height grey bar */
}
.li-linewise        /* items in a list next to each other, use with .spread */
{
    margin: .35em auto;     /* x em: distance text from the top of the */
                            /* grey bar */
    display: inline;
}
.spread             /* spread elements over the available width */              
{
    list-style-type: none;
    margin: 0;
    padding: 0.25em 0;
    display: flex;
    justify-content: center
}
.center-text
{
    text-align: center;
}
.center-table
{
    margin-left: auto;
    margin-right: auto;
}
